.button {
  @include button-reset;

  display: inline-flex;
  color: $white;
  background-color: $gray;
  border-radius: 2px;
  font-family: inherit;
  font-weight: bold;

  &--orange {
    background-color: $orange;
  }

  &--white {
    color: $black-lightest;
    background-color: transparent;
    border: 1px solid $black-lightest;
    border-radius: 2px;
  }

  @include basic-interactions;
}

.button--white:active {
  opacity: 0.5;
}
