.button {
  display: inline-flex;
  color: $white;
  border: none;
  background-color: $gray;
  border-radius: 2px;
  font-family: inherit;

  &--orange {
    background-color: $orange;
  }

  @include basic-interactions;
}
