.guitar-filters__title {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;

  font-size: 18px;
  line-height: 21px;

  border-bottom: 0.7px solid $light-gray;
}

.guitar-filters__fieldset {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 30px;
  border: none;
  border-bottom: 0.7px solid $light-gray;

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.guitar-filters__legend {
  margin-bottom: 24px;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

.guitar-filters__price-wrapper {
  display: grid;
  grid-template-columns: 84px 14px 84px;
  gap: 13px;
}

.guitar-filters__numeric-input {
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.05em;

  color: rgba(0, 0, 0, 0.6);
}

.guitar-filters__price-separator {
  align-self: center;
}

.guitar-filters__checkbox-label {
  margin-bottom: 12px;
  padding-left: 40px;

  font-size: 16px;
  line-height: 19px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.guitar-filters__show {
  padding-top: 8px;
  padding-right: 27px;
  padding-bottom: 9px;
  padding-left: 28px;

  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: $gray;

  @include gray-button-interactions;
}
