// title, vendor-code and info are the same as in order-card.scss
// TODO: make these styles the same
.guitar-info-card {
  display: flex;
  justify-content: space-between;
}

.guitar-info-card__description-column {
  align-items: flex-start;

  display: flex;
  width: 298px;
}

.guitar-info-card__characteristics {
  margin-top: 17px;
}

.guitar-info-card__title {
  margin: 0;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.guitar-info-card__vendor-code {
  margin: 0;
  margin-bottom: 6px;
  padding-left: 1px;

  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.065em;
}

.guitar-info-card__guitar-info {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 1px;

  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.076em;
}

.guitar-info-card__guitar-info-text--strings {
  white-space: nowrap;
}

.guitar-info-card__guitar-price {
  margin: 0;
  padding-left: 1px;

  font-size: 20px;
  line-height: 15px;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.guitar-info-card__image {
  order: -1;
  margin-top: 0;
  height: 139px;
  margin-right: 40px;
  object-fit: contain;
}

.guitar-info-card__buttons-column {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding-top: 17px;
}

.guitar-info-card__button {
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.guitar-info-card__add-button {
  padding-top: 14px;
  padding-right: 12px;
  padding-bottom: 17px;
  padding-left: 11px;
}
