.guitar-card {
  display: flex;
  flex-direction: column;

  width: 220px;
  min-height: 304px;
  padding-top: 15px;
  padding-right: 13px;
  padding-bottom: 19px;
  padding-left: 13px;

  border: 1px solid $light-gray;
}

.guitar-card__title-with-price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.guitar-card__title {
  margin: 0;

  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
  letter-spacing: 0.05em;
}

.guitar-card__price {
  margin: 0;

  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.guitar-card__image {
  order: -1;
  align-self: center;
  width: 68px;
  height: 190px;
  margin-bottom: 6px;
  object-fit: none;
}

.guitar-card__review-stars-wrapper {
  order: -1;

  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.guitar-card__stars {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 68px;
  margin-right: 4px;
}

.guitar-card__stars-item {
  margin-right: 2px;

  &:nth-of-type(5n) {
    margin-right: 0;
  }
}

.guitar-card__reviews-count {
  margin: 0;

  font-family: "Poppins", "Arial", sans-serif;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: $darker-gray;
}

.guitar-card__buttons-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.guitar-card__more {
  max-width: 89px;
  padding-top: 4px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 9px;

  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  letter-spacing: 0.02em;
  word-break: break-all;

  @include gray-button-interactions;
}

.guitar-card__buy {
  max-width: 89px;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-left: 10px;

  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  letter-spacing: 0.02em;
  word-break: break-all;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    margin-right: 5px;

    background-image: url("../assets/img/icon-cart.svg");
  }

  @include orange-button-interactions;
}

.guitar-card__to-cart {
  max-width: 89px;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-left: 10px;

  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  letter-spacing: 0.02em;
  word-break: break-all;

  @include gray-button-interactions;
}
