.guitar-filters__title {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 29px;

  font-size: 18px;
  line-height: 21px;

  border-bottom: 0.7px solid $light-gray;
}

.guitar-filters__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 29px;
  border: none;
  border-bottom: 0.7px solid $light-gray;

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.guitar-filters__legend {
  margin-bottom: 24px;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

.guitar-filters__price-wrapper {
  display: flex;
}

.guitar-filters__numeric-input {
  width: 84px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-right: 13px;

  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.05em;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);
  border: 0.7px solid $darker-gray;
  border-radius: 2px;

  @include basic-hover;
  @include input-number-spin-reset;

  &:last-of-type {
    margin-right: 0;
  }
}

.guitar-filters__price-separator {
  width: 14px;
  align-self: center;
  margin-right: 13px;
}

.guitar-filters__checkbox:focus + .guitar-filters__checkbox-label {
  outline: 2px solid #4d90fe;
  outline-offset: 3px;
}

.guitar-filters__checkbox-label {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 24px;
  margin-bottom: 12px;
  padding-left: 40px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.guitar-filters__checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;
  stroke: $darker-gray;
}

.guitar-filters__checkbox-label:hover .guitar-filters__checkbox-icon,
.guitar-filters__checkbox-label:focus .guitar-filters__checkbox-icon,
.guitar-filters__checkbox:focus + .guitar-filters__checkbox-label .guitar-filters__checkbox-icon {
  stroke: $black-lightest;
}

.guitar-filters__checkbox-label:active .guitar-filters__checkbox-icon,
.guitar-filters__checkbox:active + .guitar-filters__checkbox-label .guitar-filters__checkbox-icon {
  stroke: $gray;
}

.guitar-filters__checkbox:checked + .guitar-filters__checkbox-label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;

  background-image: url("../assets/img/icon-checkbox-tick.svg");
}

.guitar-filters__checkbox:disabled + .guitar-filters__checkbox-label {
  color: $light-gray-alt;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

.guitar-filters__checkbox:disabled + .guitar-filters__checkbox-label .guitar-filters__checkbox-icon {
  fill: $white-gray;
  stroke: $light-gray-alt;
}

.guitar-filters__show {
  padding-top: 8px;
  padding-right: 26px;
  padding-bottom: 8px;
  padding-left: 28px;
  margin-top: 11px;

  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: $gray;

  @include gray-button-interactions;
}
