.item-added-to-cart-popup__wrapper {
  padding-bottom: 34px;
}

.item-added-to-cart-popup__buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 477px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.item-added-to-cart-popup__button {
  margin-right: 37px;
  margin-bottom: 20px;
  padding-top: 13px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}
