.main-navigation {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation__logo {
  margin-right: 94px;
}

.main-navigation__user-navigation {
  margin-left: auto;
}
