@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-interactions {
  &:hover,
  &:focus {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }
}

// there were no states for such links in figma
@mixin basic-interactions {
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}
