.order-card {
  display: flex;

  padding-top: 20px;
  padding-bottom: 16px;
  border-top: 0.7px solid $light-gray;

  &:last-of-type {
    border-bottom: 0.7px solid $light-gray;
  }
}

.order-card__guitar-info-wrapper {
  width: 265px;
  margin-right: 92px;
}

.order-card__title {
  margin: 0;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.073em;
  text-transform: uppercase;
}

.order-card__vendor-code {
  margin: 0;
  margin-bottom: 6px;
  padding-left: 1px;

  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.065em;
}

.order-card__guitar-info {
  margin: 0;
  padding-left: 1px;

  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.076em;
}

.order-card__image {
  align-self: flex-start;
  order: -1;

  width: 48px;
  height: 127px;
  margin-left: 1px;
  margin-right: 68px;
  object-fit: contain;
}

.order-card__original-price {
  align-self: center;

  width: 87px;
  margin: 0;
  margin-top: 3px;
  margin-right: 85px;

  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.order-card__amount-wrapper {
  display: flex;
  width: 84px;
  margin-top: 20px;
}

.order-card__amount-button {
  @include button-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 30px;
  border: 1px solid $darker-gray;

  cursor: pointer;

  @include basic-interactions;
}

.order-card__amount-input {
  width: 26px;
  height: 30px;

  color: $darker-gray;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: center;

  border: none;
  border-top: 1px solid $darker-gray;
  border-bottom: 1px solid $darker-gray;

  @include basic-hover;
  @include input-number-spin-reset;
}

.order-card__total-price {
  align-self: center;

  // width: 87px;
  max-width: 160px;
  margin: 0;
  margin-top: 3px;
  margin-left: auto;

  font-size: 20px;
  line-height: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: end;
  word-break: break-word;
}

.order-card__delete-order {
  @include button-reset;

  align-self: flex-start;
  order: -2;

  display: flex;
  width: 18px;
  height: 18px;
  margin-right: 25px;

  cursor: pointer;

  @include basic-interactions;
}
