.page-footer {
  z-index: 1;

  flex-shrink: 0;
  flex-basis: auto;
  padding-top: 61px;
  padding-bottom: 52px;

  font-size: 10px;
  color: $white;
  background-color: $black-faded;
}

.page-footer__wrapper {
  display: flex;
}

.page-footer__column {
  &--logo-with-socials {
    width: 118px;
    margin-right: 122px;
  }

  &--about {
    width: 142px;
    margin-right: 18px;
  }

  &--catalog {
    width: 150px;
    margin-right: 12px;
  }

  &--info {
    width: 153px;
  }

  &--contacts {
    width: 140px;
    margin-left: auto;
  }
}

.page-footer__section-title {
  margin: 0;
  margin-bottom: 0;
  padding-top: 6px;

  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.15em;

  font-weight: normal;
  opacity: 0.7;
}

.page-footer__column--about .page-footer__section-title {
  margin-bottom: 2px;
}

.page-footer__column--catalog .page-footer__section-title {
  line-height: 42px;
}

.page-footer__column--info .page-footer__section-title {
  line-height: 40px;
  padding-top: 9px;
}

.page-footer__column--contacts .page-footer__section-title {
  line-height: 40px;
  padding-top: 9px;
}

.page-footer__logo {
  margin-bottom: 55px;
}

.page-footer__about-text {
  margin: 0;
  margin-bottom: 12px;

  line-height: 12px;
  letter-spacing: 0.035em
}

.page-footer__catalog-guitars {
  @include list-reset;
}

.page-footer__catalog-guitars-link {
  line-height: 20px;
  letter-spacing: 0.13em;
  color: $white;
  text-decoration: none;

  @include basic-interactions;
}

.page-footer__info {
  @include list-reset;
}

.page-footer__info-link {
  line-height: 20px;
  letter-spacing: 0.1em;
  color: $white;
  text-decoration: none;

  @include basic-interactions;
}


.page-footer__contacts-address {
  margin-bottom: 1px;

  line-height: 12px;
  font-style: normal;
  letter-spacing: 0.125em;
}

.page-footer__contacts-phone {
  display: flex;
  margin-bottom: 12px;

  line-height: 13px;
  color: $white;
  text-decoration: none;
  letter-spacing: 0.1em;

  @include basic-interactions;
}

.page-footer__contacts-phone-icon {
  flex-shrink: 0;

  width: 10px;
  margin-top: 1px;
  margin-right: 5px;
}

.page-footer__contacts-schedule {
  margin: 0;

  line-height: 12px;
  letter-spacing: 0.13em;
}

.page-footer__contacts-schedule-time {
  display: flex;
}

.page-footer__contacts-schedule-time-icon {
  flex-shrink: 0;

  width: 10px;
  margin-right: 5px;
}

.page-footer__contacts-schedule-time-text {
  letter-spacing: 0.1em;
}
