.pagination {
  @include list-reset;

  align-self: flex-end;
  display: flex;
}

.pagination__item {
  margin-right: 14px;

  &:last-of-type {
    margin-right: 0;
  }
}

.pagination__link {
  display: flex;
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 9px;

  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: $black;
  border: 0.7px solid $darker-gray;
  border-radius: 2px;

  &--active,
  &:hover,
  &:focus {
    color: $white;
    background-color: $black-lightest;
    border-color: $black-lightest;
  }

  &:active {
    opacity: 0.4;
  }
}
