.pagination {
  @include list-reset;

  align-self: flex-end;
  display: flex;
}

.pagination__item {
  margin-right: 11px;

  &:last-of-type {
    margin-left: 3px;
    margin-right: 0;
  }
}

.pagination__link {
  display: flex;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 0;
  padding-left: 7px;

  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: $black;
  border: 0.7px solid $darker-gray;
  border-radius: 2px;

  &--dots {
    padding-left: 5px;

    font-family: "Poppins", "Arial", sans-serif;
  }

  &--next {
    padding-right: 21px;
    padding-left: 20px;
  }

  &--active,
  &:hover,
  &:focus {
    color: $white;
    background-color: $black-lightest;
    border-color: $black-lightest;
  }

  &:active {
    opacity: 0.4;
  }
}
