.user-navigation {
  @include list-reset;

  // display: flex;

  // Commented properties above and below make the same thing as grids do,
  // but I chose to practice grids :P
  display: grid;
  max-width: 142px;
  grid-template-columns: repeat(auto-fit, 40px);
  gap: 11px;
}

// .user-navigation__item {
//   margin-right: 11px;

//   &:last-of-type {
//     margin-right: 0;
//   }
// }

.user-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  @include basic-interactions;

  &--cart {
    position: relative;
  }
}

.user-navigation__cart-items-number {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 30px;

  font-size: 10px;
  line-height: 12px;
  color: $red;
  word-break: break-word;
}
