.user-navigation {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 146px;
}

.user-navigation__item {
  margin-right: 10px;
  margin-bottom: 10px;

  &:nth-of-type(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.user-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  color: $black;

  @include link-interactions;

  &--cart {
    position: relative;

    width: 44px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 10px;
  }

  &:not([href]) {
    &:hover,
    &:focus,
    &:active {
      color: $black;
      opacity: 1;
    }
  }
}

.user-navigation__cart-items-number {
  position: absolute;
  left: 29px;
  top: 10px;
  width: 30px;

  font-size: 10px;
  line-height: 12px;
  color: $red;
  word-break: break-word;
}
