$white: #FFFFFF;

$black: #000000;
$black-faded: #3F3F3F;
$black-lighter: #474747;
$black-lightest: #585757;

$gray: #C1C1C1;
$darker-gray: #9F9E9E;
$light-gray: #DDDADA;

$orange: #E27F00;

$link-hover: $black-lighter;
$link-active:  rgba(71, 71, 71, 0.5);

